In [1]:
import pylab as pl
import pandas as pd
import numpy as np
import os

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('/home/cusp/el2666/PUI2016_el2666/Homework3/201502-citibike-tripdata.csv')

In [3]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,801,2/1/2015 0:00,2/1/2015 0:14,521,8 Ave & W 31 St,40.750450,-73.994811,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978.0,2
1,379,2/1/2015 0:00,2/1/2015 0:07,497,E 17 St & Broadway,40.737050,-73.990093,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993.0,1
2,2474,2/1/2015 0:01,2/1/2015 0:42,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969.0,2
3,818,2/1/2015 0:01,2/1/2015 0:15,2004,6 Ave & Broome St,40.724399,-74.004704,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985.0,2
4,544,2/1/2015 0:01,2/1/2015 0:10,323,Lawrence St & Willoughby St,40.692362,-73.986317,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,19868,Subscriber,1957.0,1

In [4]:
df['ageM'] = 2015 - df['birth year'][(df['usertype'] == 'Subscriber') & (df['gender'] == 1)]
df['ageF'] = 2015 - df['birth year'][(df['usertype'] == 'Subscriber') & (df['gender'] == 2)]

In [6]:
df.drop(['starttime', 'stoptime', 'usertype'], axis=1, inplace=True)

In [21]:
df1 = df.iloc[:200]

In [28]:
df1_ageM = df.ageM.iloc[:200]
df1_ageF = df.ageF.iloc[:200]

a = 0.05

In [23]:
import scipy.stats as stats

df1 = stats.norm.rvs(size = 200)

stats.normaltest(df1)

NormaltestResult(statistic=0.6848154654392955, pvalue=0.71005863154201354)

Given the null hypothesis that df1 came from a normal distribution, the p-value is large - it is likely that the data came from a normal distribution.

In [24]:
scipy.stats.anderson(df1, dist='norm')

AndersonResult(statistic=0.23458477828199875, critical_values=array([ 0.565,  0.644,  0.772,  0.901,  1.071]), significance_level=array([ 15. ,  10. ,   5. ,   2.5,   1. ]))

In [31]:
stats.kstest(df1, 'norm')

KstestResult(statistic=0.064761864604405972, pvalue=0.35793758037835155)

In [32]:
from scipy.stats import chisquare
chisquare(df1)

Power_divergenceResult(statistic=3443.6149963554562, pvalue=0.0)